{
  "db" : {
    "connectionString" : "mongodb://127.0.0.1/Loginator",
    "chat" : "chat",
    "channels" : "channels",
    "retention" : 1800
  },
  "irc" : {
    "server" : "yourserver.name",
    "nick" : "Loginator",
    "options" : {
      "channels" : ["#dev", "#bot"],
      "port" : 6667,
      "stripColors": true
    }
  }
}
